<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

<header>
	<div class="logo">
       <span>ProgramSchool</span>
	</div>
	<div class="menu">
     <ul><li><a href="home">Home</a></li><li><a href="about">About us</a></li><li><a href="contact">Contact us</a></li><li><a href="service">Services</a>	</li></ul>
	</div>

</header>


<section>

	<div id="part1">
	
<h1>Welcome in Home Page</h1>

<img src="/static/img/img3.jpg" width="300" height="300" />

</div>
<div id="part2">

<iframe width="560" height="315" src="https://www.youtube.com/embed/un9TeToJSAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>

<footer>

<div class="part">
<h3>SUBSCRIBE HERE</h1>
	
</div>
<div class="part">
<h3>QUICK LINKS</h1>

<ul><li><a href="home">Home</a></li><li><a href="about">About us</a></li><li><a href="contact">Contact us</a></li><li><a href="service">Services</a>	</li></ul>
</div>
<div class="part">
<h3>CONNECT US</h1>
</div>
</footer>



</body>
</html>